.maxWarnings {
    width: 60px;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px inset;
    padding: 0 7px;
}

.limit-input-style {
    width: 100% !important;
}