CONTAINER_NAME_SUFFIX=test
POSTGIS_PORT=5433
APPSERVER_PORT=82
MEMCACHE_PORT=11212
SELENIUM_PORT=4445
# Override with ARM image if required.
SELENIUM_IMAGE=selenium/standalone-chrome
MYW_BUILD_LOGS=./log/tests
# Optional keys:
RESTORE_DB=false
# e.g. engine_tests. see dev_db_test_runner.py steps.
TEST_RUN_STEPS=
KEEP_RUNNING=false
CREATE_GIT_BRANCH=false
PUSH_TO_GITHUB=false
TIDY_OLD_BRANCHES=false
