{
   "name": "mywcom_cable_segments",
   "external_name": "Cable Network",
   "description": null,
   "topology": "mesh",
   "directed": false,
   "engine": "mywcom_cable_network_engine",
   "feature_types": {
      "mywcom_fiber_segment": {
         "upstream": "in_structure",
         "downstream": "out_structure"
      },
      "mywcom_route_junction": {
         "upstream": "in_fiber_segments",
         "downstream": "out_fiber_segments"
      }
   }
}