{
   "name": "mywcom_fiber_path",
   "external_name": "Fiber Path",
   "description": "Fibers and equipment for finding fiber path",
   "topology": "tree",
   "directed": true,
   "engine": "mywcom_fiber_path_network_engine",
   "feature_types": {
      "mywcom_fiber_connection": {
         "upstream": "in_object",
         "downstream": "out_object"
      },
      "mywcom_fiber_segment": {
         "upstream": "fiber_connections",
         "downstream": "fiber_connections",
         "length": "length"
      }
   }
}