/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

NOTE: Generally, this stylesheet has elements listed out in the order that they appear in the topic from top to bottom. The exception are General styles which are at the top and the stylesheet mediums which are at the bottom.

EXAMPLE: Since the search-bar is at the top of the topic page, it will be listed closer to the top of this stylesheet.

===========================================================================================================================================================*/

/*==Topic General Styles==*/

.micro-response-2015857145
{
	color: #404040;
	line-height: 1.7em;
	background-color: #fff;
	font-family: Arial;
}

.micro-response-2015857145 h1
{
	padding-bottom: 10px;
	font-family: Arial;
	color: #000000;
	margin-top: 20pt;
	margin-bottom: 10pt;
	font-weight: bold;
	font-size: 16pt;
}

.micro-response-2015857145 h2
{
	padding-bottom: 15px;
	font-weight: bold;
	margin-bottom: 10pt;
	margin-top: 20pt;
	font-size: 14pt;
}

.micro-response-2015857145 h3
{
	margin-bottom: 10pt;
	margin-top: 20pt;
	font-weight: bold;
	font-size: 14pt;
	padding-bottom: 10px;
}

.micro-response-2015857145 h4
{
	font-weight: bold;
	margin-bottom: 10pt;
	margin-top: 20pt;
	padding-bottom: 10px;
	font-size: 14pt;
}

.micro-response-2015857145 li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

.micro-response-2015857145 p
{
	margin-bottom: 6pt;
	margin-top: 6pt;
}

.micro-response-2015857145 p.Command
{
	font-family: 'Courier New';
	border-top-color: #585858;
	border-bottom-color: #585858;
	border-bottom: solid 1px;
	border-top: solid 1px;
	font-size: 95%;
	line-height: 175%;
}

.micro-response-2015857145 img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

.micro-response-2015857145 img.thumbnail
{
	mc-thumbnail: popup;
}

.micro-response-2015857145 .center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none;
	text-align: center;
}

.micro-response-2015857145 a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
	color: #6fd969;
}

.micro-response-2015857145 a.MCBreadcrumbsLink:visited
{
	color: #6fd969;
}

.micro-response-2015857145 a.MCBreadcrumbsLink:hover
{
	color: #000000;
}

.micro-response-2015857145 a.MiniTOC1
{
	color: #000000;
}

.micro-response-2015857145 a.MiniTOC1:hover
{
	color: #6fd969;
}

.micro-response-2015857145 MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: 1 em;
	mc-breadcrumbs-prefix: ' ';
}

.micro-response-2015857145 MadCap|xref
{
	mc-format: '{para}';
	text-decoration: underline;
	font-weight: normal;
	color: #6fd969;
}

.micro-response-2015857145 MadCap|xref:hover
{
	color: #6fd969;
}

.micro-response-2015857145 MadCap|dropDownHotspot
{
	color: #F3920067;
}

.micro-response-2015857145 MadCap|dropDownBody
{
	border-bottom: 1px solid #d3d3d3;
}

.micro-response-2015857145 MadCap|dropDown	/*Change the "mc-open-image" and "mc-closed-image" properties to change the icons used in drop-downs*/
{
	mc-open-image: url('../../Resources/Images/Assets/Icons/Arrows/arrow-down-gray.png');
	mc-closed-image: url('../../Resources/Images/Assets/Icons/Arrows/arrow-right-gray.png');
}

/*==Master Page Topic Layout==*/

.micro-response-2015857145 nav.title-bar	/*Adds bottom border on top navigation bar*/
{
	border-bottom: 2px solid #6FB969;
}

.micro-response-2015857145 div.top-bar	/*Contains the breadcrumbs and toolbar*/
{
	min-height: 50px;
	/*Min-height is necessary for topics that are not included in a TOC*/
}

.micro-response-2015857145 div.search-container
{
	float: right;
	max-width: 25%;
}

/*==Elements for the left side of Master Page layout==*/

.micro-response-2015857145 div.side-menu	/*This is the div that the menu proxy is contained in*/
{
	padding-left: 10px;
	margin-top: 15px;
}

/*Styles that provide the border radius to the menu proxy items*/

.micro-response-2015857145 ul.menu._Skins_SideMenu.mc-component li > a.selected
{
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5px;
}

.micro-response-2015857145 ul.menu._Skins_SideMenu.mc-component li > a:hover
{
	background-color: #A7A8AA;
	border-radius: 5px;
}

.micro-response-2015857145 ul.menu._Skins_SideMenu.mc-component ul > li > a:hover
{
	background-color: #A7A8AA;
	border-radius: 5px;
}

.micro-response-2015857145 ul.menu._Skins_SideMenu.mc-component ul ul > li > a:hover
{
	background-color: #A7A8AA;
	border-radius: 5px;
}

.micro-response-2015857145 ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a:hover
{
	background-color: #A7A8AA;
	border-radius: 5px;
}

.micro-response-2015857145 ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a:hover
{
	background-color: #A7A8AA;
	border-radius: 5px;
}

.micro-response-2015857145 div.topic-layout	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

.micro-response-2015857145 div.topic-layout::before
{
	content: ' ';
	display: table;
}

.micro-response-2015857145 div.topic-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response-2015857145 div.topic-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.micro-response-2015857145 div.topic-layout > div:nth-child(1)	/*Menu Proxy container*/
{
	width: 25%;
	margin-left: 0%;
}

.micro-response-2015857145 div.topic-layout > div:nth-child(2)
{
	width: 73%;
	margin-left: 2%;
}

.micro-response-2015857145 MadCap|miniTocProxy
{
	border-top-color: transparent;
	border-top-style: none;
	margin-top: 0px;
	padding-left: 5px;
	padding-top: 0px;
	color: #000000;
	font-weight: bold;
	list-style-type: none;
}

.micro-response-2015857145 p.MiniTOC1
{
	font-weight: normal;
	color: #000000;
}

.micro-response-2015857145 h5
{
	font-size: 14pt;
}

.micro-response-2015857145 h6
{
	font-size: 14pt;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1279px)
{
	.micro-response-2015857145 .row.nav-search
	{
		display: block;
	}

	.micro-response-2015857145 div.search-container
	{
		display: none;
	}

	.micro-response-2015857145 div.topic-layout > div:nth-child(1)
	{
		display: none;
	}

	.micro-response-2015857145 div.topic-layout > div:nth-child(2)
	{
		width: 98%;
		margin-left: 2%;
	}

	.micro-response-2015857145 h1
	{
		line-height: 50pt;
	}
}

@media only screen and (max-width: 767px)
{
	.micro-response-2015857145 div.top-bar
	{
		min-height: 0;
	}

	.micro-response-2015857145 .row.nav-search
	{
		display: block;
	}

	.micro-response-2015857145 div.search-container
	{
		display: none;
	}

	.micro-response-2015857145 div.topic-layout > div:nth-child(1)
	{
		display: none;
	}

	.micro-response-2015857145 div.topic-layout > div:nth-child(2)
	{
		width: 98%;
		margin-left: 2%;
	}

	.micro-response-2015857145 h1
	{
		font-size: 10pt;
		line-height: 50pt;
	}
}

.micro-response-2015857145 div.footer
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f7f7f7;
	border-top: none 0px transparent;
}

.micro-response-2015857145 span.mwParameter
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.Button
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.CodeComment
{
	font-family: monospace;
	font-style: italic;
	color: #408080;
}

.micro-response-2015857145 span.CodeGreen
{
	font-family: monospace;
	color: #008000;
	font-weight: bold;
}

.micro-response-2015857145 span.CodeOlive
{
	font-family: monospace;
	font-weight: bold;
	color: #7d9029;
}

.micro-response-2015857145 span.CodeRed
{
	font-family: monospace;
	color: #ba2121;
}

.micro-response-2015857145 span.CodeText
{
	font-family: 'Courier New';
	font-size: 95%;
}

.micro-response-2015857145 span.Command
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.Dialog
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.Emphasis
{
	font-style: italic;
}

.micro-response-2015857145 span.FileName
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.GuideName
{
	font-weight: normal;
	font-style: italic;
}

.micro-response-2015857145 span.Menu
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.MenuItem
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.mwFunction
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.Option
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.PlaceholderText
{
	font-style: italic;
}

.micro-response-2015857145 p.mwCommand
{
	line-height: 175%;
	font-family: monospace;
	padding-left: 15px;
	background-color: #e5e5e5;
}

.micro-response-2015857145 p.Introline
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #585858;
	font-family: Arial;
}

.micro-response-2015857145 p.IntrolineMW
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	color: #000000;
	font-family: Arial;
}

.micro-response-2015857145 p.keep_with_next
{
	
}

.micro-response-2015857145 p.FigureCaption
{
	color: #585858;
	margin-top: 0pt;
	margin-bottom: 6pt;
	text-align: left;
	padding-bottom: 30px;
	padding-left: 30px;
	mc-auto-number-format: 'Figure: ';
	font-family: Arial;
	font-size: 10pt;
}

.micro-response-2015857145 p.Figure
{
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
	padding-left: 25px;
}

.micro-response-2015857145 p.copyright
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Segoe UI';
	font-size: 9pt;
}

.micro-response-2015857145 ol.LowerAlpha
{
	list-style-type: lower-alpha;
	margin-left: -10px;
}

.micro-response-2015857145 ol.LowerRoman
{
	list-style-type: lower-roman;
	margin-left: -10px;
}

.micro-response-2015857145 img.Border
{
	border: solid 1px #a9a9a9;
}

.micro-response-2015857145 h1.Auto
{
	
}

.micro-response-2015857145 h1.Appendix
{
	
}

.micro-response-2015857145 h1.NotInTOC
{
	
}

.micro-response-2015857145 h1.NumberOnly
{
	mc-auto-number-format: 'CH:{chapnum}: ';
}

.micro-response-2015857145 h2.Appendix
{
	
}

.micro-response-2015857145 h3.Appendix
{
	
}

.micro-response-2015857145 pre.code
{
	border-radius: 5px;
	background-color: #e5e5e5;
	margin-top: 0em;
	margin-bottom: 0pt;
	line-height: 125%;
	font-size: 10pt;
	padding-left: 6px;
	padding-right: 6pt;
	padding-top: 6px;
	padding-bottom: 6pt;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.micro-response-2015857145 div.Code
{
	border-radius: 5px;
	background-repeat: no-repeat;
	background-image: none;
	padding: 6pt;
	font-family: 'Courier New';
	background-color: #e5e5e5;
	line-height: 150%;
}

.micro-response-2015857145 div.Note
{
	background-repeat: no-repeat;
	padding: 6pt;
	padding-right: 6pt;
	padding-left: 46pt;
	padding-bottom: 12pt;
	border-bottom-right-radius: 5px;
	border-radius: 5px;
	border-left-color: #6fb969;
	border-left-style: solid;
	border-right-color: #6fb969;
	border-top-color: #6fb969;
	display: block;
	border-color: #6fb969;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 6pt;
	background-position: 10px;
	margin-bottom: 6px;
	border: solid 0.75pt #6fb969;
	border-bottom-width: 0.75pt;
	border-left-width: 0.75pt;
	border-right-width: 0.75pt;
	border-top-width: 0.75pt;
	background-size: 36px 35px;
	background-image: url('../../Resources/Images/NoteIcon.png');
}

.micro-response-2015857145 div.Tip
{
	border: solid 1px;
	border-radius: 5px;
	border-color: #585858;
	background-image: url('../../Resources/Images/Tip.png');
	background-size: 45px 45px;
	background-repeat: no-repeat;
	padding: 6pt;
	padding-left: 40pt;
	padding-bottom: 12pt;
}

.micro-response-2015857145 div.Warning
{
	border: solid 1px;
	border-radius: 5px;
	background-image: url('../../Resources/Images/Warning.png');
	background-size: 45px 45px;
	background-repeat: no-repeat;
	border-color: #ea8519;
	padding: 6pt;
	padding-left: 46pt;
	padding-bottom: 12pt;
}

.micro-response-2015857145 span.PyCodeComment
{
	font-family: monospace;
	font-style: italic;
	color: #408080;
}

.micro-response-2015857145 span.PyCodeKeyword
{
	font-family: monospace;
	color: #008000;
	font-weight: bold;
}

.micro-response-2015857145 span.SubMenu
{
	font-family: 'Segoe UI Semibold';
}

.micro-response-2015857145 span.Variable
{
	text-transform: uppercase;
	letter-spacing: -1px;
}

