.selected-structure-option {
    text-transform: capitalize;
    margin: 10px 0;
}

.selected {
    text-transform: capitalize;
}

#structure-dropdown {
    display: grid;
    justify-content: center;
}
