.validation-control {
    min-height: 106px !important;
    .primary-btn {
        min-width: 80px;
    }
    .ui-label-indent {
        padding-left: 8px;
    }
    .ui-input {
        width: 60px;
    }
}
